@import url('https://fonts.googleapis.com/css2?family=Jua&family=Sniglet:wght@400;800&display=swap');

h2 {
    font-family: 'Jua', sans-serif;
    color:  #C4AFA3;

}

.Header {
    
   color:blue;
}

